{block content}

    {control todoList}
    <footer id="info">
        <p>Double-click to edit a todo</p>

        <p>Written by <a href="http://ldrahnik.com">Lukáš Drahník</a></p>
    </footer>
{/block}
